altgraph
appdirs
asgiref
auto-py-to-exe
bottle
bottle-websocket
CacheControl
certifi
chardet
colorama
contextlib2
distlib
distro
dj-database-url
Django==3.0.8
django-crispy-forms
django-heroku
Eel
future
gevent
gevent-websocket
greenlet
gunicorn
html5lib
idna
ipaddr
lockfile
msgpack
mysql-connector-python
numpy
opencv-python
packaging
pep517
Pillow
progress
protobuf
psycopg2
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pytoml
pytz
requests
retrying
six
sqlparse
urllib3
virtualenv
virtualenvwrapper-win
webencodings
whichcraft
whitenoise
zope.event
zope.interface
